@page
@using Microsoft.AspNetCore.Identity
@using FigurineCuisine.Models
@model FigurineCuisine.Pages.Checkout.CartModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "My Cart";
}
<div class="container">
    <h1 class="text-left">
        My Cart
    </h1>
    @foreach (var item in Model.CartItem)
    {
        <div class="row">
            <div class="col-md-3">
                <a href="/Shop/Product/@item.Figurine.ID">
                    <img src="@Html.DisplayFor(modelItem => item.Figurine.Image)" width="250" height="250" />
                </a>
            </div>
            <div class="col-md-9">
                <form class="form-row" method="post">
                    <div class="form-group col-md-8">
                        <h3>@item.Figurine.Name</h3>
                        <label asp-for="@item.Quantity">Quantity</label>
                        <input asp-for="@item.Quantity" type="number" name="Quantity" min="1">
                        <p>$@(item.Figurine.Price * item.Quantity)</p>
                    </div>
                    <div class="form-group col-md-4">
                        <button type="submit" class="btn btn-outline-primary" asp-page-handler="update" asp-route-id="@item.FigurineID" style="float: right;">
                            Update
                        </button>
                        <button type="submit" class="btn btn-outline-danger" asp-page-handler="delete" asp-route-id="@item.FigurineID" style="float: right; margin-right: 10px!important;">
                            Delete
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <p></p>
    }
    <div class="text-left" style="display: inline;">
        <a href="/Products/Products" class="btn btn-outline-success" role="button">Go Back to Shopping</a>
    </div>
    <div class="text-right" style="display: inline; float: right;">
        <a href="/Checkout" class="btn btn-outline-success" role="button">Check Out</a>
    </div>
</div>
