@page "{id?}"
@using Microsoft.AspNetCore.Identity
@using FigurineCuisine.Models
@using Microsoft.AspNetCore.Authorization
@inject SignInManager<ApplicationUser> SignInManager
@inject IAuthorizationService AuthorizationService

@model FigurineCuisine.Pages.ProductViewModel
@{
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/css/style.css'" />
    <style>
        span {
            cursor: pointer;
        }

        .minus, .plus {
            width: 27px;
            height: 27px;
            background: #f2f2f2;
            border-radius: 4px;
            border: 1px solid #ddd;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
        }

        .number input {
            height: 34px;
            width: 100px;
            text-align: center;
            font-size: 26px;
            border: 1px solid #ddd;
            border-radius: 4px;
            display: inline-block;
            vertical-align: middle;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row" style="margin-top: 60px">
            <div class="col-sm">
                <img class="detail-img" src="@Model.selectedProduct.Image" width="350" />
            </div>
            <div class="col-sm">
                <div class="row">
                    <h6>Name:&nbsp;&nbsp;</h6>
                    <p> @Model.selectedProduct.Name</p>
                </div>
                <div class="row">
                    <h6>Price:&nbsp;&nbsp;</h6>
                    <p> $@Model.selectedProduct.Price</p>
                </div>
                <div class="row">
                    <h6>Manufacturer:&nbsp;&nbsp;</h6>
                    <p> @Model.selectedProduct.Manufacturer</p>
                </div>
                <div class="row">
                    <h6>Brand:&nbsp;&nbsp;</h6>
                    <p> @Model.selectedProduct.Brand</p>
                </div>
                <div class="row">
                    <h6>Published Date:&nbsp;&nbsp;</h6>
                    <p> @Model.selectedProduct.PublishedDate</p>
                </div>
                <div class="row">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <form id="add-to-cart "method="post">
                            <div class="number" style="margin-top:40px">
                                <input asp-for="Category" class="category" type="hidden" value="@Model.selectedProduct.Category" />
                                <span class="minus">-</span>
                                <input asp-for="Input.Quantity" class="quantity" type="text" value="1" />
                                <span asp-validation-for="Input.Quantity" class="text-danger"></span>
                                <span class="plus">+</span>
                                <p>&nbsp;</p>
                                @if ((await AuthorizationService.AuthorizeAsync(User, "RequireCustomerRole")).Succeeded)
                                {
                                    <button class="btn btn-primary" style="margin-top: 50px" type="submit">Add to Cart</button>
                                }
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>